.overview-wrapper {
  display: grid;
  background-color: white;
  grid-template-columns: 3fr 1.25fr;
  grid-template-rows: 1.75fr 1.25fr;
  /* border: 1px solid black; */
  height: 800px;
  max-height: 800px;
};
html { scroll-behavior: smooth; }

.disabled{
   pointer-events: none;
}
.interactive-panel {
  grid-template-rows: 1fr 1fr 1fr;
}
#read-reviews{
  position: absolute;
  right: 263px;
  top: 59px;
  text-decoration: underline;
  font-size: smaller;
  display: none;
}

/* #feature-list { */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
  /* list-style: none; */
/* } */
#feature-list li:before{
  content: '✓ ';
}
#feature-list li{
  padding: 2px;
  margin-left: 20px;
}
.description-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-right: 3px solid black;
  margin: 10px 0 10px 0px;
  /* margin-left: 30px; */
}
#description, #slogan{
  margin-right: auto;
  margin-left: auto;
  overflow-wrap: normal;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
#slogan {
  font-weight: bold;
}
#description {
  margin-top: 0;
}

.information {
  display: flex;
  flex-wrap: wrap;
  /* align-content: space-around; */
  /* justify-content: space-between;*/
  justify-content: center;
  flex-direction: column;
  height: 155px;
}
.stars{
  height: 20%;
}
.price{
  margin-top: 10px;
  margin-bottom: 1px;

}
.price-sale{
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}
.price-struck{
  text-decoration: line-through;
  margin-top: 5px;
  margin-bottom: 5px;
}
.category {
  margin-top: 10px;
  text-transform: uppercase;
  color: black;
  font-size: 1em;

  /* margin: 0; */
}
.name{
  margin-bottom: 5px;
}

.ghost{
  color: gray;
  opacity: 0.4;
}
#style-tag {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;

}
.style-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  position: relative;
}
.style-thumbnail {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  display: inline;
  float: left;
  margin: 5px;
}
ul {
  list-style-type: none;
  padding-inline-start: 5px;
}
.style-thumbnail:hover {
  border-color: gray;
}
.select-product {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
  height: 110px;
  width: 290px;
  /* margin: 4px; */
}
#select-message{
  margin: 0;
  display: inline;
  position: absolute;
  top: -12px;
  left: 10px;
  display: none;
  color: red
}
.select-bag {
  height: 50px;
  width: 200px;
}
.select-quantity {
  height: 50px;
  width: 100px;
}
.select-size {
  height: 50px;
  width: 150px;
}
.select-outfit {
  height: 50px;
  width: 50px;

}
#main-image {
  width: 100%;
  height: auto;
  max-height: 700px;
  cursor: pointer;
  object-fit: contain
}

#main-image-modal {
  cursor: zoom-in;
  width: auto;
  overflow: scroll;
  max-height: 1000px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: contain;
  height: 800px;
  background-repeat: no-repeat;
  display: block;

}
#rightExpanded {
  top: 50%;
  height: 60px;
}
#leftExpanded {
  top: 50%;
  height: 60px;

}

.image-container, .rightPanel{
  max-height: 700px;
  height: 600px;
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin-top: 20px;
  margin-left: -5px;
  z-index: 1;
  position: relative;
}
.rightArrow, .leftArrow {
  height: 60px;
  width: auto;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  position: absolute;
}
.rightArrow {
  right: 10px;
}
.leftArrow {
  left: 70px;
}
.image-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 700px;
  width: 825px;

}
#image-modal-frame {
  height: 800px;
  box-sizing: content-box;
  display: none;
  width: 1200px;
  overflow: hidden;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.6); */
  background: white;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 6px 8px 2px; */
  /* border: 1px solid rgb(148, 148, 148); */
  padding-left: 54px;
  padding-right: 54px;
  z-index: 4;
  top: -20px;
  left: 1px;
  max-width: 1120px;
  max-height: 900px;


}
#expander-btn  {
  position: absolute;
  right: 20px;
  top: 10px;
  color: gray;
}
#miniCarousel  {
  width: 60px;
  height: 330px;
}
#miniCarousel .selected {
  border: black 2px solid;

}
#mainCarousel{
width: 80px;
left: -3px;
height: 535px;
}
#mainCarousel-panel{
  width: 115px;
}
.img-thumbnail-list {
  width: 85%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 375px;
  z-index: 1;
  transition: all 1s ease-in-out;
  overflow-y: scroll;
}
.img-thumbnail-list::-webkit-scrollbar {
  display: none;
}

.img-thumbnail-panel {
  /* display: float; */
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  /* margin: 5px; */
  list-style-type: none;
  width: 70px;
  top: 0;
  left: -10px;
  justify-content: center;
  overflow: hidden;

}

  .img-thumbnail{
    box-sizing: border-box;
  border: 3px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 70px;
  /* width: 70%; */
  width: 65px;
  margin-left: 5px;
  z-index: 10;
  margin-top: 3px;
}

.img-thumbnail:hover{
 border-color: #FFD700;
}

.img-thumbnail.selected {

  border: 2px solid #FFD700;
  border-bottom: 8px black solid;


}
.img-icons{
  border-radius: 40px;
  height: 40px;
  width: 40px;
}
.upArrow, .downArrow {

  height: 7px;
  width: auto;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  justify-content: left;
  padding: 5px;
  margin-left: 15px;
  margin-right: 10px;
  width: 15px;
}
.upArrow {
opacity: 0}


.rightPanel {
  display: flex;
  flex-wrap: wrap;
  /* align-content: space-around; */
  margin-left: 7px;
  /* padding-left: 10px; */
  /* margin-top: 20px; */
}

.panel {
  max-width: 300px;
}