.QA-container {
  display: grid;
  grid-template-rows: 40px 70px fit-content(420px) 70px;
  grid-template-areas: 
    "header"
    "search"
    "questions"
    "buttons";
  /* height: 600px; */
  max-height: 600px;
  margin: 40px 60px 40px;
}

.QA-header {
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid pink;

}

.search {
  border: 1px solid red;
}

.questions-list {
  overflow: scroll;
}

.buttons {
  border: 1px solid red;
}

.question-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid blue;
}

.question-text {
  font-weight: bold;
}

.answers-container {
  display: grid;
  grid-template-rows: fit-content(210px);
}

.answers-list {
  overflow: scroll;
}