.QA-container {
  display: grid;
  grid-template-rows: 1fr 1fr fit-content(350px) 1fr;
  grid-template-areas: 
    "header"
    "search"
    "questions"
    "buttons";
  border: 1px solid green;
}

.QA-header {
  border: 1px solid red;
}

.search {
  border: 1px solid red;
}

.questions-list {
  border: 2px solid blue;
  overflow: scroll;
}

.buttons {
  border: 1px solid red;
}

.question-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid blue;

}

.question-text {
  font-weight: bold;
}